services:
  redis:
    image: redis:7-alpine
    volumes:
      - redis-data:/data
    restart: unless-stopped

  app:
    build: .
    depends_on:
      - redis
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - REDIS_URL=redis://redis:6379
      - MERCADOPAGO_ACCESS_TOKEN=changeme
      - BASE_URL=${BASE_URL}

  web-customer:
    build: ./app-customer
    depends_on:
      - app
    restart: unless-stopped
    ports:
      - "8080:80"

  web-staff:
    build: ./app-staff
    depends_on:
      - app
    restart: unless-stopped
    ports:
      - "8081:80"

volumes:
  redis-data:
    driver: local
